name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check formatting
        run: |
          cargo fmt -- --check
          (cd xtask && cargo fmt -- --check)

      - name: Install Node.js
        uses: actions/setup-node@v3

      - name: Install yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install

      - name: Run eslint
        run: yarn lint:eslint

      - name: Run prettier
        run: yarn lint:prettier

  test:
    name: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Load cache
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      # Keep this in sync with:
      # .github/workflows/latest-matrix-sdk-crypto.yml
      # .github/workflows/release.yml
      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24.0

      - name: Install yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install

      - name: Build the WebAssembly + JavaScript binding
        run: yarn build

      - name: Check typescript types
        run: yarn lint:types

      - name: Test the JavaScript bindings
        run: yarn test

      - name: Build the documentation
        run: yarn doc

      # Upload the docs as a build artifiact, so they can be used in the
      # deployment step below, or a subsequent workflow which uploads to netlify.
      - name: Upload docs artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: docs
          path: './docs/'

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: docs
